<!DOCTYPE html>
<html>
<head>
  <title>Assignment given</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><!-- bootstrap classes
 -->
</head>
<body>

  <div class="container">
    <div class="row">
      
      <div class="col col-lg-3">
      <h5><button class="btn btn-primary" (click)="buttonClick()" href = "/">Admin Dashboard</button>
      </h5>
      </div>
      

      <div class="col col-lg-9" *ngIf = 'isHideen'>
       

        <li ngbDropdown  class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select
        </a>
        <div  ngbDropdownMenu  class="dropdown-menu show" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="/dom1">domain 1</a>
          <a class="dropdown-item"  routerLink ="/dom2">domain 2</a>
        </div>
      </li>

          <router-outlet></router-outlet>        
        </div>    
    </div>
  </div>

</body>
</html>